<div class="container-fluid">
            <div class="row">
                <div class="newslettre-width text-center my-4">
                    <div class="newslettre-info ">
                        <h1 class="fs-3 fw-bolder ">Sosyal Medya Hesaplarımız</h1>
                    </div>
                
                    <div class="social-icons mt-2">
                        <button type="button" class="btn my-5 rounded-circle mx-1" style="background-color: #25D366;" data-bs-toggle="tooltip"   data-bs-placement="top" data-bs-title="Tooltip on top">
                            <a class="social-icon social-icon--whatsapp text-white fs-4" target="_blank" href="#">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </button>
                        <button type="button" class="btn my-5 rounded-circle mx-1" style="background-color: #3b5a9b;" data-bs-toggle="tooltip"   data-bs-placement="top" data-bs-title="Tooltip on top">
                            <a class="social-icon social-icon--facebook text-white fs-4" target="_blank" href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </button>
                        <button type="button" class="btn my-5 rounded-circle mx-1" style="background-color: #0088cc;" data-bs-toggle="tooltip"   data-bs-placement="top" data-bs-title="Tooltip on top">
                            <a class="social-icon social-icon--telegram text-white fs-4" target="_blank" href="#">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </button>
                        <button type="button" class="btn my-5 rounded-circle mx-1" style="background-color: #2b97f1;" data-bs-toggle="tooltip"   data-bs-placement="top" data-bs-title="Tooltip on top">
                            <a class="social-icon social-icon--twitter text-white fs-4" target="_blank" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </button>
                        <button type="button" class="btn my-5 rounded-circle mx-1" style="background-color: #527fa6;" data-bs-toggle="tooltip"   data-bs-placement="top" data-bs-title="Tooltip on top">
                            <a class="social-icon social-icon--instagram text-white fs-4" target="_blank" href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </button>
                        <button type="button" class="btn my-5 rounded-circle mx-1" style="background-color: #ff0000;" data-bs-toggle="tooltip"   data-bs-placement="top" data-bs-title="youtube">
                            <a class="social-icon social-icon--youtube text-white fs-4" target="_blank" href="#">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>