{% extends 'profile_base.html' %}

{% block profile_content %}
  <div class="row">
    <div class="col-md-3">
      <div class="widget text-center">
        <h1>0</h1>
        <small>Toplam Soru</small>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget text-center">
        <h1>0</h1>
        <small>Toplam Yorum</small>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget text-center">
        <h1>0</h1>
        <small>Toplam Test</small>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
{% endblock %}
