{% extends 'base.html' %}

{% block title %}
Galeri
{% endblock %}

{% block content %}

<div class="container mb-5">
    <div class="row mt-3 justify-content-start">
        {% for galery in galeries %}
            <div class="img-col col-lg-4 col-md-6 col-sm-12 my-1 p-1">
                <a href="{{ galery.image.url }}">
                    <img src="{{ galery.image.url }}" class="img-fluid" style="max-width: 100%; border-radius: 10px;">
                </a>
            </div>    
        {% endfor %}
        
    </div>
</div>

{% endblock %}